body, html {
  font-family: 'Lexend Deca', sans-serif;
  margin: 0px;
}

h2 {
  display: inline;
  color: #0a3569;
  font-weight: bold;
}

img{
  border-radius: 5px;
}

a{
  color: inherit;
  text-decoration: inherit;
}

a:hover{
  color: inherit;
  text-decoration: inherit;
}

footer{
  color: #d9f6ff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #1F497D;
}

.flexcontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

.codingFont {
  font-family: 'Press Start 2P', serif;
  font-size: 28pt;
  margin-top: 10px;
}

.musicFont {
  font-family: 'Dancing Script', cursive;
  font-size: 40pt;
  font-weight: bold;
  padding: 0;
}

.parallax1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/background1.jpg");
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/img/background2.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/img/background3.jpg");
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  padding-left: 20px;
  opacity: 0.8;
}

.jumbotron {
  background-color: rgb(198, 229, 241, 0.6);
  margin-right: 50px;
  margin-left: 50px;
}

.jumbotron p{
  color: #1F497D;
}

.jumbotron h1{
  color: #447dc4;
  font-weight: bold;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #1F497D;
}

.progress-container {
  width: 100%;
  height: 4px;
  background: #ccc;
}

.progress-bar {
  height: 4px;
  background: #4c5baf;
  width: 0%;
}

#sidebar { 
  width: 230px; 
  height: 320px;
  float: right; 
  overflow-x: hidden;
  padding: 20px;
  border-radius: 8px;
}

#name {
  font-size: 15pt;
}

.profilePic{
  padding: 10px;
  border-radius: 15px;
  width: 100%;
}

#mainbody {
  margin-right: 240px;
}

.project-container{
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  background-color: #20968a;
  color: #d9f6ff;
  border: 2px solid #236eac;
}

.img-left-container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
}
.img-left-img {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  margin: 5px;
}
.img-left-text {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  margin-left: 10px;
  margin-right: 10px;
}

.img-right-container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
}
.img-right-img {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  margin: 5px;
}
.img-right-text {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  margin-left: 10px;
  margin-right: 10px;
}

/* 
The flip card container
*/
.flip-card {
  background-color: transparent;
  width: 98%;
  height: 98%;
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.7s;
  transform-style: preserve-3d;
  border-radius: 8px;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 8px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color:#1F497D;
  color: #d9f6ff;
  border: 1px solid #236eac;
}

/* Style the back side */
.flip-card-back {
  background-color: #236eac;
  color: #d9f6ff;
  transform: rotateY(180deg);
  border: 1px solid #1F497D;
}