/*Credit to Ian Lenehan's tutorial https://www.youtube.com/watch?v=j7OhcuZQ-q8 */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: Helvetica, Arial, sans-serif
}

#container {
  display: flex;
  background-color: white;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

#game {
  width: 95%;
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid grey;
}

.title {
  color: black;
  font-size: 2.2rem;
  font-weight: bold;
  margin: 0.3rem 0 0.3rem 0;
  text-align: center;

}

@media only screen and (max-width: 480px) {
  .title {
    font-size: 1.5rem;
  }
}

#board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: column;
}

#final-score {
  color: gainsboro;
}

#board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.square {
  border: 2px solid grey;
  display: inline-block;
  min-width: 50px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  cursor: pointer;

  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  color: black;
  text-transform: uppercase;
  user-select: none;
}

.square.incorrect-letter {
  background-color: grey;
  border-color: grey;
  color: white;
}

.square.correct-letter {
  background-color: rgb(201, 176, 68);
  border-color: rgb(201, 176, 68);
  color: white;
}

.square.correct-letter-in-place {
  background-color: rgb(95, 160, 89);
  border-color: rgb(95, 160, 89);
  color: white;
}

@media only screen and (max-width: 400px) {
  .square {
    min-width: 15vw;
    min-height: 15vw;
  }
}

#keyboard-container {
  height: 200px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}

.keyboard-row button {
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  margin-right: 6px;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  background-color: rgb(184, 186, 187);
  color: black;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.keyboard-row button.wide-button {
  flex-grow: 1.5;
}

.keyboard-row button.incorrect-letter {
  background-color: grey;
  color: white;
}

.keyboard-row button.correct-letter {
  background-color: rgb(201, 176, 68);
  color: white;
}

.keyboard-row button.correct-letter-in-place {
  background-color: rgb(95, 160, 89);
  color: white;
}

.spacer-half {
  flex-grow: 0.5;
}